:root {
  --color-primary: #18bc9c;
  --color-primary-bade: #42e7c7;
  --color-secondary: #ecf0f1;
  --color-danger: #e74c3c;
  --color-primary-border: #dce4ec;
  --color-body-text: #82918c;
  --color-primary-loading: #fff;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", "Mitr", sans-serif;
  font-weight: 300;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
}
.form-select {
  width: 100%;
}

#backdrop-hook {
  overflow: hidden;
}

@keyframes appear {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
